* {margin:0; padding:0;}
body {
	font-family:"courier new", serif;
	}
#wrapper {
	min-width:560px; max-width:960px; margin:0 auto; border:0px solid; overflow:hidden; 
	}
header {
	background:#f00;
	border-radius: 10px;
	}
header#menu_1 {
	background:#ffa;
	height: 2.5em;
	border-radius: 10px;
	}
header#menu_1 a, p {
	padding:0 0 0 10px; 
	}
header#menu_1 a {
	float: left;
	}	
header#menu_1 h2 {
	font-weight:700;
	font-size:1.25em;
	letter-spacing:-.05em;
	color:#616161;
	margin:0 0 0 10px;
	padding:10px 0 0 0;
	}
label{
	font-weight:1000;
	font-size:.75em;
	color:#616161;
	}
header h1 {
	font-weight:400;
	font-size:4em;
	letter-spacing:-.05em;
	color:#fff;
	padding:0 0 5px 10px; 
	}
header h2 {
	font-weight:300;
	font-size:1,5em;
	letter-spacing:-.05em;
	color:#ooo;
	padding:0 0 5px 10px; 
	}
.buttons	{
	width: 250px;
	border-radius: 9px;
}
nav {
	display:table-cell;
	width:500px;
	background:#dcd9c0;
	padding:10px;
	border-radius: 10px;
	}
nav li {
	list-style-type:none;
	}
nav a {
	font-weight:700;
	font-size:.85em;
	color:#616161;
	}
nav input{
  border: 1px solid grey;
  margin: 2px 0 2px 0;
  display: inline-block;
}
/*
nav input.pole {
    border: 1px solid gray; 
    background: #F4F0DF;} 
    input.pole:focus {
    border: 1px solid navy; 
    background: red;}
*/
nav form .label{
	width: 160px;
	display: block;
	clear: left;
	float: left;
	text-align: right;

	margin: 2px 0 2px 0;
	}
article {
	display:table-cell;
	width:600px;
	background:#ffed53;
	padding:10px 20px;
	border-radius: 10px;
	}
article h1 {
	font-weight:700;
	font-size:1.5em;
	letter-spacing:-.05em;
	color:#616161;
	}
article h2 {
	font-weight:700;
	font-size:1.25em;
	letter-spacing:-.05em;
	color:#616161;
	margin:10px 0 0 0;
	}
article p {
	font-weight:50;
	font-size:0.8em;
	color:#000;
	}

#tdc {
	display:table-cell;
	width:80px;
	}

article form .label{
	width: 120px;
	display: block;
	clear: left;
	float: left;
	text-align: right;

	margin: 2px 0 2px 0;
}
article input{
  border: 1px solid grey;
  margin: 2px 0 2px 0;
  display: inline-block;
}
article a {
	font-weight:700;
	/* wielkość fonta linka w tablece    */
	font-size:0.93em;

}
/*a:visited {background-color:grey; color:white;} */
a:hover {background-color:#ffed53;}	
/*
a:link{background-color:white;
}
a:visited { 
background-color:red;
color:black;
}
a:hover { 
background-color:blue;
}
a:active { 
background-color:green;
}
*/
#form_rejestracja.indent label.error {
  margin-left: 0;
}
#form_rejestracja label.error {
  font-size: 0.75em;
  color: #F00;
  font-weight: bold;
  margin-left: 5px;
  letter-spacing:-.07em;
}
#form_rejestracja  input.error {
  background: #FFA9B8;
  border: 1px solid red;
}
/* Tabelka z wynikami (step display)  */
table, td, tr{
/*border: 1px solid black;*/
	font-size:0.93em;
}
td#oferta	{
	text-align:center;
	font-weight:bold;
}
td#pozycja	{
	text-align:center;
	font-weight:bold;
}

td#email	{
	text-align:center;
}

tr#pierwszy	{
	font-weight:bold;
}

footer {
	clear:both;
	background:#000;
	text-align:center;
	border-radius: 10px;
	}
footer p {
	font-weight:700;
	font-size:.65em;
	color:#fff;
	}
footer a {
	font-weight:700italic;
	font-size:1em;
	color:#ffed53;
	text-decoration:none;
	}